<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Result</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <div class="row resultmargin">
      <span class="border border-primary rounded text-center">
      <div class="col-md-12 setheightquestion">
        <br><br>
        <h1><b>Your Answer : Option <%= selected_option %></b></h1>
      </div>
      </span>
  </div>
  <br/>
  <br>
  <div class="row resultmargin">
      <span class="border border-primary rounded text-center">
      <div class="col-md-12 setheightquestion">
       <br><br>
       <h1><b>Correct Answer : Option 2</b></h1>
       </div>
     </span>
  </div>

</body>
 </html>
